<html>
  <head></head>
  <body>
    <h1>Albums</h1>

    <div>
      <% @albums.each do |album| %> 
        <p> 
        <a href="/album/<%= album.id %>">Title: <%= album.title %></a>
          <br>Release year: <%= album.release_year%>
        <p>
      <% end %>
    </div>

    <!-- ... -->
  </body>
</html>
