<html>
  <head></head>
  <body>
    <h1>Artists</h1>

    <div>
      <% @artists.each do |artist| %> 
        <p> 
        <a href="/artist/<%= artist.id %>">Name: <%= artist.name %></a>
          <br>Genre: <%= artist.genre %>
        <p>
      <% end %>
    </div>

    <!-- ... -->
  </body>
</html>
