<html>
  <head></head>
  <body>
    <h1>Albums</h1>

    <div> <a href="/album/new">Add a new album</a>

    <div>
      <% @albums.each do |album| %> 
        <p> 
        <a href="/album/<%= album.id %>">Title: <%= album.title %></a>
          <br>Release year: <%= album.release_year%>
        <p>
      <% end %>
    </div>

    <div><a href="/">Return to index</a></div>
  </body>
</html>
