<html>
  <head></head>
  <body>
    <h1>Artists</h1>

    <div> <a href="/artist/new">Add a new artist</a>

    <div>
      <% @artists.each do |artist| %> 
        <p> 
        <a href="/artist/<%= artist.id %>">Name: <%= artist.name %></a>
          <br>Genre: <%= artist.genre %>
        <p>
      <% end %>
    </div>

    <div><a href="/">Return to index</a></div>
  </body>
</html>
