<html>
  <head></head>
  <body>
    <h1><%= @artist.name %></h1>
    <p>
      Name: <%= @artist.name %>
      <br> Genre: <%= @artist.genre %>
    </p>
  </body>
  <div><a href="/artists">Return to all artists</a></div>
</html>