
<h1>Add an artist</h1>

    <form action="/artists" method="POST">
        <body>
        <small><a href="/artists">&lt; All artists</a></small>
        <div>
            <br><label>Artist name: <label>
            <input type="text" name="name" />
        <div>

        <div>
            <label>Music Genre: <label>
            <input type="text" name="genre" />
        <div>

        <br><input type="submit" />
        </body>
    </form>
